app-edit-user{
    .bodyForm{
        background-color:#000; 
        min-height: 100%;
        padding: 20px;
        ion-list{
            background: transparent;
            margin-top: 0px;
            ion-item{
                --background: transparent;
                border-bottom: 1px solid #fff;
                margin-bottom: 15px;
                &:last-child{
                    margin-bottom: 0;
                }
                ion-input{
                    color: #fff;
                    text-align: center;
                }
                ion-label, ion-datetime{
                    color: #fff !important;
                    transform-origin: center top !important;
                    text-align: center;
                    font-size: 14px;
                }
                ion-button{
                    position: absolute;
                    right: 0;
                    bottom: 5px;
                    background: transparent;
                    --background: transparent;
                }
            }
            .itemCheckbox{
                border-bottom: 0;
                ion-checkbox{
                    margin: 0;
                }
                ion-label{
                    font-size: 12px;
                }
            }
            .formAlign{
                margin-top: 25px;
                ion-item{
                    margin-bottom: 0;
                    height: 35px;
                }
            }
            .btnRegister{
                --border-radius: 0;
                --background: var(--green);
                color: #fff;
                width: 120px;
                margin: 30px auto 0;
                display: block;
                letter-spacing: 0;
                text-transform: capitalize;
                font-size: 14px;
                &:last-child{
                    color: #fff;
                    background-color: transparent !important;
                    margin-top: 10px;
                    --background: transparent;
                }
            }
        }
    }

    .error-message{
        text-align: center;
        margin: 5px 0 0;
        color: red;
        font-size: 13px;
    }
    .bb-0{
        border-bottom: 0 !important;   
    }
}