app-articles{
    .nav{
        position: relative;
        height: 40px;
        border-bottom: 1px solid #000;
        
        .btnBack{
            flex-grow: 1;
            --background: transparent;
            color: #000;
            --box-shadow: none;
            position: absolute;
            margin: 0;
            left: 0;
            height: 40px;
        }

        h5{
            text-align: center;
            margin: 0;
            line-height: 44px;
            
        }
    }

    .navSegment{
        height: auto;
        --height: auto;
        --min-height: auto;
        margin-top: 10px;
        ion-segment{
            width: 100%;
            ion-segment-button{
                letter-spacing: 0;
                text-transform: capitalize;
                font-size: 16px;
                color: #000;
                height: 30px;
                --height: 30px;
                line-height: 30px;
                min-height: 30px;
            }
            
            ion-segment-button.segment-button-checked{
                font-weight: bold;
            }
        }
    }

    .bodySegment{
        .body{
            width: 100%;
            .bodyPortada{
                height: 180px;
                width: 100%;
                img{
                    width: 100%;
                    object-fit: cover;
                    height: 100%;
                }
            }

            .box-table{
                table{
                    width: 100%;
                    table-layout: fixed;
                    tr{
                        border-bottom: 1px solid #c1c1c1;
                        td{
                            width: 33.3%;
                            font-size: 14px;
                            padding: 14px 6px 6px;
                            vertical-align: bottom;
                            max-width: 100%;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            font-weight: bold;

                            @media (max-width: 320px){
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}