<ion-header class="navbarEdit">
  <ion-toolbar>
    <ion-button mode="md" slot="start" routerLink="/library"><ion-icon name="menu"></ion-icon> <span>Juan Gonzalez</span></ion-button>
    <div class="logo">
      <img src="assets/img/logo.svg" alt="">
      <h5>Praxi<br>Book</h5>
    </div>
    <ion-button mode="md"  slot="end" routerLink="/notifications"><ion-icon class="hearth" name="notifications-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="nav">
    <ion-button class="btnBack" mode="md" routerLink="/library"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
    <h5>Mi biblioteca</h5>
  </div>
  <div class="body">
    <ion-toolbar class="navSegment">
      <ion-segment scrollable mode="md" color="transparent">
        <ion-segment-button  mode="md" value="0" checked >
            Ver portadas
        </ion-segment-button>
        <ion-segment-button mode="md" value="1">
          Ver lista
        </ion-segment-button>
      </ion-segment>
      </ion-toolbar>
      <ion-slides class="bodySegment">
        <ion-slide class="slide-1">
          <div class="body">
            <ion-grid>
              <ion-row>
                <ion-col size="4" class="bodyCard">
                  <div class="bodyPortada" routerLink="/book">
                    <img src="assets/img/portada.png" alt="">
                  </div>
                </ion-col>
                <ion-col size="4" class="bodyCard">
                  <div class="bodyPortada" routerLink="/book">
                    <img src="assets/img/portada.png" alt="">
                  </div>
                </ion-col>
                <ion-col size="4" class="bodyCard">
                  <div class="bodyPortada" routerLink="/book">
                    <img src="assets/img/portada.png" alt="">
                  </div>
                </ion-col>
                <ion-col size="4" class="bodyCard">
                  <div class="bodyPortada" routerLink="/book">
                    <img src="assets/img/portada.png" alt="">
                  </div>
                </ion-col>
                <ion-col size="4" class="bodyCard">
                  <div class="bodyPortada" routerLink="/book">
                    <img src="assets/img/portada.png" alt="">
                  </div>
                </ion-col>
                <ion-col size="4" class="bodyCard">
                  <div class="bodyPortada" routerLink="/book">
                    <img src="assets/img/portada.png" alt="">
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-slide>
        <ion-slide class="slide-2">
          <div class="body">
            <div class="box-table">
              <table>
                <tr routerLink="/book">
                  <td>El Dragón Rojo</td>
                  <td>Carlos Chang Y...</td>
                  <td>Marketing</td>
                </tr>
                <tr routerLink="/book">
                  <td>El Dragón Rojo</td>
                  <td>Carlos Chang Y...</td>
                  <td>Marketing</td>
                </tr>
                <tr routerLink="/book">
                  <td>El Dragón Rojo</td>
                  <td>Carlos Chang Y...</td>
                  <td>Marketing</td>
                </tr>
                <tr routerLink="/book">
                  <td>El Dragón Rojo</td>
                  <td>Carlos Chang Y...</td>
                  <td>Marketing</td>
                </tr>
                <tr routerLink="/book">
                  <td>El Dragón Rojo</td>
                  <td>Carlos Chang Y...</td>
                  <td>Marketing</td>
                </tr>
                <tr routerLink="/book">
                  <td>El Dragón Rojo</td>
                  <td>Carlos Chang Y...</td>
                  <td>Marketing</td>
                </tr>
                <tr routerLink="/book">
                  <td>El Dragón Rojo</td>
                  <td>Carlos Chang Y...</td>
                  <td>Marketing</td>
                </tr>
                <tr routerLink="/book">
                  <td>El Dragón Rojo</td>
                  <td>Carlos Chang Y...</td>
                  <td>Marketing</td>
                </tr>
                <tr routerLink="/">
                  <td>El Dragón Rojo</td>
                  <td>Carlos Chang Y...</td>
                  <td>Marketing</td>
                </tr>
              </table>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
  </div>
</ion-content>
