<app-navbar></app-navbar>
<ion-content class="bodyNotification">
	<ion-button class="btnBack" mode="md" (click)="back()"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
	<ion-row>
		<ion-col class="ion-text-center" size="12">
			<p class="my-0">
				<ion-icon class="NaviconHeader" *ngIf="imgStatus == 1" src="assets/img/campa33.svg"></ion-icon>
				<ion-icon class="NaviconHeader" *ngIf="imgStatus == 2" src="assets/img/heartred.svg"></ion-icon>
			</p>
			<p class="titleHeader blue-dark2 my-0">{{ title }}</p>
		</ion-col>
	</ion-row>
	<ion-toolbar class="editToolbar navSegment">
		<ion-segment scrollable mode="md">
		  <ion-segment-button  mode="md" value="0" checked (click)="changeTitle('Notificaciones')">
			  Notificaciones
		  </ion-segment-button>
		  <ion-segment-button  mode="md" value="1" (click)="changeTitle('Favoritos')">
			  Favoritos
		  </ion-segment-button>
		</ion-segment>
	  </ion-toolbar>
	  <ion-slides class="notification">
		<ion-slide class="slide-1">
			<div class="body">
				<ion-item class="item-edit" lines="none" mode="md" *ngFor="let not of notif; let i = index">
					<ion-thumbnail slot="start" (click)="goToBook(not.id_book)">
					  <img src="{{ not.img }}">
					</ion-thumbnail>
					<div class="text" (click)="goToBook(not.id_book)">
						<ion-label>{{ not.content }}</ion-label>
						<p>{{ not.created_at }}</p>
					</div>
					<div slot="end" class="option">
						<button (click)="like(not.key, not.like, i)"><ion-icon *ngIf="!not.like" src="assets/img/heartgray.svg"></ion-icon></button>
						<button (click)="like(not.key, not.like, i)"><ion-icon *ngIf="not.like" src="assets/img/heartred.svg"></ion-icon></button>
					</div>
				</ion-item>
			</div>
		</ion-slide>
		<ion-slide class="slide-2">
			<div class="body">
				<ion-item class="item-edit" lines="none" mode="md" *ngFor="let not of favs">
					<ion-thumbnail slot="start" (click)="goToBook(not.id_book)">
					  <img src="{{ not.img }}">
					</ion-thumbnail>
					<div class="text" (click)="goToBook(not.id_book)">
						<ion-label>{{ not.content }}</ion-label>
						<p>{{ not.created_at }}</p>
					</div>
					<div slot="end" class="option">
						<button (click)="like(not.key, 1)"><ion-icon *ngIf="!not.like" src="assets/img/heartgray.svg"></ion-icon></button>
						<button (click)="like(not.key, 2)"><ion-icon *ngIf="not.like" src="assets/img/heartred.svg"></ion-icon></button>
					</div>
				</ion-item>
			</div>
		</ion-slide>
	  </ion-slides>
</ion-content>
