<app-navbar></app-navbar>
<ion-content class="bodyNotification">
	<ion-button class="btnBack" mode="md" routerLink="/home"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
	<ion-row>
		<ion-col class="ion-text-center" size="12">
			<div class="my-0">
				<ion-icon class="iconTitle" name="notifications-outline"></ion-icon>
			</div>
			<p class="titleHeader blue-dark2 my-0">Notificaciones</p>
		</ion-col>
	</ion-row>
	<ion-toolbar class="editToolbar navSegment">
		<ion-segment scrollable mode="md">
		  <ion-segment-button  mode="md" value="0" checked>
			  Notificaciones
		  </ion-segment-button>
		  <ion-segment-button  mode="md" value="1">
			  Favoritos
		  </ion-segment-button>
		</ion-segment>
	  </ion-toolbar>
	  <ion-slides class="notification">
		<ion-slide class="slide-1">
			<div class="body">
				<ion-item class="item-edit" lines="none" mode="md" routerLink="/detail-notifications">
					<ion-thumbnail slot="start">
					  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS7epYsPh9QHnSBmgIpVBl90fU_tM-fPLM0Neo1QBk2aBrQQRgd">
					</ion-thumbnail>
					<div class="text">
						<ion-label>El restaurant Raus web ha realizado una nueva publicación</ion-label>
						<p>Nueva Notificación</p>
					</div>
					<div slot="end" class="option">
						<button><ion-icon src="assets/img/icon/heartgray.svg"></ion-icon></button>
						<button><ion-icon mode="ios" name="more"></ion-icon></button>
					</div>
				</ion-item>
				<ion-item class="item-edit" lines="none" mode="md" routerLink="/detail-notifications">
					<ion-thumbnail slot="start">
					  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS7epYsPh9QHnSBmgIpVBl90fU_tM-fPLM0Neo1QBk2aBrQQRgd">
					</ion-thumbnail>
					<div class="text">
						<ion-label>El restaurant Raus web ha realizado una nueva publicación</ion-label>
						<p>Nueva Notificación</p>
					</div>
					<div slot="end" class="option">
						<button><ion-icon src="assets/img/icon/heartgray.svg"></ion-icon></button>
						<button><ion-icon mode="ios" name="more"></ion-icon></button>
					</div>
				</ion-item>
				<ion-item class="item-edit" lines="none" mode="md" routerLink="/detail-notifications">
					<ion-thumbnail slot="start">
					  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS7epYsPh9QHnSBmgIpVBl90fU_tM-fPLM0Neo1QBk2aBrQQRgd">
					</ion-thumbnail>
					<div class="text">
						<ion-label>El restaurant Raus web ha realizado una nueva publicación</ion-label>
						<p>Nueva Notificación</p>
					</div>
					<div slot="end" class="option">
						<button><ion-icon src="assets/img/icon/heartgray.svg"></ion-icon></button>
						<button><ion-icon mode="ios" name="more"></ion-icon></button>
					</div>
				</ion-item>
			</div>
		</ion-slide>
		<ion-slide class="slide-2">
			<div class="body">
				<ion-item class="item-edit" lines="none" mode="md" routerLink="/detail-notifications">
					<ion-thumbnail slot="start">
					  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS7epYsPh9QHnSBmgIpVBl90fU_tM-fPLM0Neo1QBk2aBrQQRgd">
					</ion-thumbnail>
					<div class="text">
						<ion-label>El restaurant Raus web ha realizado una nueva publicación</ion-label>
						<p>Nueva Notificación</p>
					</div>
					<div slot="end" class="option">
						<button><ion-icon src="assets/img/icon/heartgray.svg"></ion-icon></button>
						<button><ion-icon mode="ios" name="more"></ion-icon></button>
					</div>
				</ion-item>
				<ion-item class="item-edit" lines="none" mode="md" routerLink="/detail-notifications">
					<ion-thumbnail slot="start">
					  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS7epYsPh9QHnSBmgIpVBl90fU_tM-fPLM0Neo1QBk2aBrQQRgd">
					</ion-thumbnail>
					<div class="text">
						<ion-label>El restaurant Raus web ha realizado una nueva publicación</ion-label>
						<p>Nueva Notificación</p>
					</div>
					<div slot="end" class="option">
						<button><ion-icon src="assets/img/icon/heartgray.svg"></ion-icon></button>
						<button><ion-icon mode="ios" name="more"></ion-icon></button>
					</div>
				</ion-item>
				<ion-item class="item-edit" lines="none" mode="md" routerLink="/detail-notifications">
					<ion-thumbnail slot="start">
					  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS7epYsPh9QHnSBmgIpVBl90fU_tM-fPLM0Neo1QBk2aBrQQRgd">
					</ion-thumbnail>
					<div class="text">
						<ion-label>El restaurant Raus web ha realizado una nueva publicación</ion-label>
						<p>Nueva Notificación</p>
					</div>
					<div slot="end" class="option">
						<button><ion-icon src="assets/img/icon/heartgray.svg"></ion-icon></button>
						<button><ion-icon mode="ios" name="more"></ion-icon></button>
					</div>
				</ion-item>
				<ion-item class="item-edit" lines="none" mode="md" routerLink="/detail-notifications">
					<ion-thumbnail slot="start">
					  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS7epYsPh9QHnSBmgIpVBl90fU_tM-fPLM0Neo1QBk2aBrQQRgd">
					</ion-thumbnail>
					<div class="text">
						<ion-label>El restaurant Raus web ha realizado una nueva publicación</ion-label>
						<p>Nueva Notificación</p>
					</div>
					<div slot="end" class="option">
						<button><ion-icon src="assets/img/icon/heartgray.svg"></ion-icon></button>
						<button><ion-icon mode="ios" name="more"></ion-icon></button>
					</div>
				</ion-item>

				<ion-item class="item-edit" lines="none">
					<ion-thumbnail slot="start">
					  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS7epYsPh9QHnSBmgIpVBl90fU_tM-fPLM0Neo1QBk2aBrQQRgd">
					</ion-thumbnail>
					<div class="text">
						<ion-label>El restaurant Raus web ha realizado una nueva publicación</ion-label>
						<p>Nueva Notificación</p>
					</div>
					<div slot="end" class="option">
						<button><ion-icon src="assets/img/icon/heartgray.svg"></ion-icon></button>
						<button><ion-icon mode="ios" name="more"></ion-icon></button>
					</div>
				</ion-item>
			</div>
		</ion-slide>
	  </ion-slides>
</ion-content>
