<app-navbar></app-navbar>
<ion-content>
	<div class="body">
		<div class="backbutton">
			<ion-button class="btnBack" mode="md" (click)="back()"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
		</div>
		<ion-list>
			<ion-item lines="none" (click)="goToEdit()">
				<ion-input disabled type="text" [(ngModel)]="name"></ion-input>
				<ion-button slot="end" mode="md"><img src="assets/img/pencil.png"></ion-button>
			</ion-item>
			<ion-item lines="none" (click)="goToPassword()">
				<ion-input [disabled]="password" [type]="!password? 'text' : 'password'" (ngModel)="passwrod1" placeholder="Cambiar contraseña" value="********"></ion-input>
				<ion-button (click)="password = !password " slot="end" mode="md"><img src="assets/img/pencil.png"></ion-button>
			</ion-item>
			<ion-item lines="none">
				<ion-label>Notificaciones</ion-label>
				<ion-toggle mode="md" slot="end"></ion-toggle>
			</ion-item>
			<ion-item lines="none">
				<ion-label>Vibración</ion-label>
				<ion-toggle mode="md" slot="end"></ion-toggle>
			</ion-item>
			<ion-item lines="none">
				<ion-label>Soporte</ion-label>
				<ion-button slot="end" mode="md"><img src="assets/img/chevron-right.png" alt=""></ion-button>
			</ion-item>
			<ion-item lines="none">
				<ion-label>Sobre Praxi Book</ion-label>
				<ion-button slot="end" mode="md"><img src="assets/img/chevron-right.png" alt=""></ion-button>
			</ion-item>
			<ion-item lines="none">
				<ion-label>FAQ</ion-label>
				<ion-button slot="end" mode="md"><img src="assets/img/chevron-right.png" alt=""></ion-button>
			</ion-item>
			<ion-item lines="none">
				<ion-label>Cerrar cuenta</ion-label>
				<ion-button slot="end" mode="md"><img src="assets/img/chevron-right.png" alt=""></ion-button>
			</ion-item>
			<ion-item lines="none">
				<ion-label>Condiciones y terminos</ion-label>
				<ion-button slot="end" mode="md"><img src="assets/img/chevron-right.png" alt=""></ion-button>
			</ion-item>
			<ion-item lines="none">
				<ion-label>Politicas de privacidad</ion-label>
				<ion-button slot="end" mode="md"><img src="assets/img/chevron-right.png" alt=""></ion-button>
			</ion-item>
			<ion-item lines="none">
				<ion-label>Datos de facturación</ion-label>
				<ion-button slot="end" mode="md"><img src="assets/img/chevron-right.png" alt=""></ion-button>
			</ion-item>
			<ion-item lines="none" class="bb-0" (click)="logout()">
				<ion-label>Salir</ion-label>
			</ion-item>
		</ion-list>
	</div>
</ion-content>
