<ion-content>
	<div class="bodyForm">
		<form [formGroup]="pass" (ngSubmit)="onSubmit(pass.value)" class="ion-margin-horizontal">
			<ion-list>
				<ion-item lines="none">
					<ion-label position="floating">Contraseña actual</ion-label>
					<ion-input formControlName="actual" name="actual" [(ngModel)]="data.actual" [type]="passwordType3"></ion-input>
					<ion-button mode="md" (click)="revelarConfirmacion3()"><ion-icon [name]="passwordShown3 === true ? 'eye-off' : 'eye'" [color]="passwordShown3 === true ? 'bluelight' : 'bluedark' " slot="end" align-self-end></ion-icon></ion-button>
				</ion-item>
				<ion-item lines="none">
					<ion-label position="floating">Contraseña nueva</ion-label>
					<ion-input formControlName="new" name="new" [(ngModel)]="data.new" [type]="passwordType"></ion-input>
					<ion-button mode="md" (click)="togglePassword()"><ion-icon [name]="passwordShown === true ? 'eye-off' : 'eye'" [color]="passwordShown === true ? 'bluelight' : 'bluedark' " slot="end" align-self-end></ion-icon></ion-button>
				</ion-item>
				<ion-item lines="none">
					<ion-label position="floating">Confirmar contraseña</ion-label>
					<ion-input formControlName="repeat" name="repeat" [(ngModel)]="data.repeat" [type]="passwordType2"></ion-input>
					<ion-button mode="md" (click)="revelarConfirmacion()"><ion-icon [name]="passwordShown2 === true ? 'eye-off' : 'eye'" [color]="passwordShown2 === true ? 'bluelight' : 'bluedark' " slot="end" align-self-end></ion-icon></ion-button>
				</ion-item>
				<ion-button type="submit" [disabled]="!pass.valid" class="btnRegister" mode="md">Editar</ion-button>
				<ion-button class="btnRegister" (click)="cancel()" mode="md">Cancelar</ion-button>
			</ion-list>
		</form>
	</div>
</ion-content>
