<ion-content>
  <div class="boxBody">
    <div class="box">
      <img src="assets/img/logo.svg" alt="">
     <h5>Praxi<br>Book</h5>
    </div>
    <ion-list>
      <ion-item lines="none" class="mb-0">  
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <p class="msgError">*msg Error</p>
      <ion-item lines="none" class="mb-0">
        <ion-label position="floating">Apellido</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <p class="msgError">*msg Error</p>
      <ion-item lines="none" class="mb-0">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="emal"></ion-input>
      </ion-item>
      <p class="msgError">*msg Error</p>
      <ion-item lines="none" class="mb-0">
        <ion-label position="floating">Fecha de nacimiento</ion-label>
        <ion-datetime type="date-time"></ion-datetime>
      </ion-item>
      <p class="msgError">*msg Error</p>
      <ion-item lines="none" class="mb-0">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" ></ion-input>
        <ion-button mode="md"><ion-icon name="eye-off-outline"></ion-icon></ion-button>
      </ion-item>
      <p class="msgError">*msg Error</p>
      <ion-item lines="none" class="mb-0">
        <ion-label position="floating">Confirmar contraseña</ion-label>
        <ion-input type="password" ></ion-input>
        <ion-button mode="md"><ion-icon name="eye-off-outline"></ion-icon></ion-button>
      </ion-item>
      <p class="msgError">*msg Error</p>
      <div class="formAlign">
        <ion-item lines="none" class="itemCheckbox">
          <ion-label>Aceptar políticas de privacidad</ion-label>
          <ion-checkbox slot="start" mode="md"></ion-checkbox>
        </ion-item>
      <p class="msgError">*msg Error</p>

        <ion-item lines="none" class="itemCheckbox">
          <ion-label>Aceptar terminos y condiciones del servicio</ion-label>
          <ion-checkbox slot="start" mode="md"></ion-checkbox>
        </ion-item>
      <p class="msgError">*msg Error</p>

      </div>
      <ion-button class="btnRegister" mode="md">Entrar</ion-button>
    </ion-list>
  </div>
</ion-content>
