app-register{
    ion-content{
        --background: #000;
        .boxBody{
            position: relative;
            top: 60px;
            max-width: 80%;
            margin: auto;
            .box{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: -15px;
                img{
                    width: 100px;
                }
                h5{
                    color: #fff;
                    margin: 0;
                    font-size: 32px;
                    font-weight: normal;
                    line-height: 1.1;
                    margin-left: -10px;
                }
            }
            ion-list{
                background: transparent;
                margin-top: 0px;
                ion-item{
                    --background: transparent;
                    border-bottom: 1px solid #fff;
                    margin-bottom: 15px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    ion-input{
                        color: #fff;
                        text-align: center;
                    }
                    ion-label{
                        color: #fff !important;
                        transform-origin: center top !important;
                        text-align: center;
                        font-size: 14px;
                    }
                    ion-button{
                        position: absolute;
                        right: 0;
                        bottom: 5px;
                        background: transparent;
                        --background: transparent;
                    }
                }
                .itemCheckbox{
                    border-bottom: 0;
                    ion-checkbox{
                        margin: 0;
                    }
                    ion-label{
                        font-size: 12px;
                    }
                }
                .formAlign{
                    margin-top: 25px;
                    ion-item{
                        margin-bottom: 0;
                        height: 35px;
                    }
                }
                .btnRegister{
                    --border-radius: 0;
                    --background: var(--green);
                    color: #fff;
                    width: 120px;
                    margin: 30px auto;
                    display: block;
                    letter-spacing: 0;
                    text-transform: capitalize;
                    font-size: 14px;
                }
            }
        }

        .msgError{
            text-align: center;
            margin: 5px 0 0;
            color: red;
            font-size: 13px;
        }
    }
}