<ion-header>
	<ion-toolbar>
		<div class="nav">
			<img src="assets/img/logo.svg" alt="">
			<div class="navigation">
				<ion-button mode="md" (click)="before()"><ion-icon name="caret-back-outline"></ion-icon></ion-button>
				<h5 (click)="showChapter = !showChapter">{{ libro?.name }}</h5>
				<ion-button mode="md" (click)="after()"><ion-icon name="caret-forward-outline"></ion-icon></ion-button>
			</div>
		</div>
	</ion-toolbar>
	<div class="marcaLibro" *ngIf="showChapter">
		<h5>Marcalibro</h5>
		<div class="body">
			<ion-button mode="md" *ngFor="let number of pages, let i = index" [ngClass]="{ 'active': number.class, '': !number.class }" (click)="scroll(number.value + 1, i)">{{ number.value + 1 }}</ion-button>
		</div>
	</div>
</ion-header>
<ion-content>
	<div class="body">
		<div class="backbutton">
			<ion-button class="btnBack" mode="md" (click)="back()"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
		</div>
		<div class="portada">
			<img src="{{ libro?.cover }}" alt="">
		</div>
		<div class="bodyBook" *ngFor="let page of libro?.pages; let i = index" (press)="savePage(i + 1, i, libro._id);" [style.touch-action]="'pan-y'">
			<h3 id="{{ i + 1 }}" class="tilteChapter"><img src="assets/img/title.png" alt=""><span>{{ i + 1 }}</span></h3>¨
			<div *ngFor="let content of page?.content">
				<section class="text" *ngIf="content.type == 'text'">
					<div [innerHTML]="content.content | satinizer: 'html'"></div>
				</section>
				<section class="sound" *ngIf="content.type == 'audio'">
					<audio [src]="content.content | satinizer: 'url'"></audio>
				</section>
				<section class="image" *ngIf="content.type == 'image'">
					<img [src]="content.content | satinizer: 'url'" alt="">
				</section>
				<section class="video" *ngIf="content.type == 'video'">
					<iframe [src]="content.content | satinizer: 'resourceUrl'" frameborder="0"></iframe>
				</section>
				<section class="image" *ngIf="content.type == 'slider'">
					<!-- <ion-slides [options]="slideOpts">
						<ion-slide>
							<div class="box">
								<img src="assets/img/image1.png" alt="">
							</div>
						</ion-slide>
						<ion-slide>
							<div class="box">
								<img src="assets/img/image2.png" alt="">
							</div>
						</ion-slide>
						<ion-slide>
							<div class="box">
								<img src="assets/img/image1.png" alt="">
							</div>
						</ion-slide>
					</ion-slides> -->
				</section>
				<ion-button class="btnMarcalibro" mode="md" *ngIf="page.marker">
					<span>Marcalibro</span>
					<img src="./assets/img/marcalibro.png" alt="">
				</ion-button> 
			</div>
		</div>
	</div>
</ion-content>
