<app-navbar></app-navbar>
<ion-content drag-content="false">
	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<div class="bodyHome">
		<div class="borderSection">    
			<div class="nav">
				<ion-grid class="p-0">
					<ion-row class="p-0">
						<ion-col class="p-0">
							<h5 class="title">Últimos títulos</h5>
						</ion-col>  
						<ion-col class="p-0">
							<ion-item lines="none" class="inputSearch">
								<ion-input type="text" placeholder="Buscar" (ionInput)="search($event)"></ion-input>
								<ion-button mode="md"><ion-icon name="search-outline"></ion-icon></ion-button>
							</ion-item>
						</ion-col>
					</ion-row>
				</ion-grid>
			</div>
			<div class="contain">
				<ion-slides [options]="slideOpts" #mySlider>
					<ion-slide *ngFor="let libro of libros">
						<ion-card class="cardEdit"> 
							<ion-card-header *ngIf="!libro.my_book || libro.my_book == false" class="p-0" (click)="goToBuyBook(libro._id)">
								<img *ngIf="libro.cover" src="{{ libro?.cover }}" alt="{{ libro?.name }}" onError="this.src = 'assets/img/portada.png'">
								<img *ngIf="!libro.cover" src="assets/img/portada.png" alt="{{ libro?.name }}">
							</ion-card-header>
							<ion-card-header *ngIf="libro.my_book || libro.my_book == true" class="p-0" (click)="goToBook(libro._id)">
								<img *ngIf="libro.cover" src="{{ libro?.cover }}" alt="{{ libro?.name }}" onError="this.src = 'assets/img/portada.png'">
								<img *ngIf="!libro.cover" src="assets/img/portada.png" alt="{{ libro?.name }}">
							</ion-card-header>
							<ion-card-content>
								<h5 class="title" *ngIf="!libro.my_book || libro.my_book == false" (click)="goToBuyBook(libro._id)">{{ libro?.name }}</h5>
								<h5 class="title" *ngIf="libro.my_book || libro.my_book == true" (click)="goToBook(libro._id)">{{ libro?.name }}</h5>
								<div class="alignAuthor">
									<p *ngIf="!libro.my_book || libro.my_book == false" (click)="goToBuyBook(libro._id)">{{ libro?.author }}</p>
									<p *ngIf="libro.my_book || libro.my_book == true" (click)="goToBook(libro._id)">{{ libro?.author }}</p>
									<ion-button slot="end" mode="md" (click)="socialSharing(libro?._id, libro?.name, libro?.cover)"><img src="assets/img/share.png" alt=""></ion-button>
									<!-- <ion-button slot="end" mode="md"><img src="assets/img/share.png" alt=""></ion-button> -->
								</div>
							</ion-card-content>
						</ion-card>
					</ion-slide>
				</ion-slides>
			</div>
		</div>
		<div class="borderSection">    
			<div class="nav">
				<ion-grid class="p-0">
					<ion-row class="p-0">
						<ion-col class="p-0">
							<h5 class="title">Los más buscados</h5>
						</ion-col>  
					</ion-row>
				</ion-grid>
			</div>
			<div class="contain">
				<ion-slides [options]="slideOpts">
					<ion-slide *ngFor="let libro of libros">
						<ion-card class="cardEdit"> 
							<ion-card-header class="p-0" *ngIf="!libro.my_book || libro.my_book == false" (click)="goToBuyBook(libro._id)">
								<img *ngIf="libro.cover" src="{{ libro?.cover }}" alt="{{ libro?.name }}" onError="this.src = 'assets/img/portada.png'">
								<img *ngIf="!libro.cover" src="assets/img/portada.png" alt="{{ libro?.name }}">
							</ion-card-header>
							<ion-card-header class="p-0" *ngIf="libro.my_book || libro.my_book == true" (click)="goToBook(libro._id)">
								<img *ngIf="libro.cover" src="{{ libro?.cover }}" alt="{{ libro?.name }}" onError="this.src = 'assets/img/portada.png'">
								<img *ngIf="!libro.cover" src="assets/img/portada.png" alt="{{ libro?.name }}">
							</ion-card-header>
							<ion-card-content>
								<h5 class="title" *ngIf="!libro.my_book || libro.my_book == false" (click)="goToBuyBook(libro._id)">{{ libro?.name }}</h5>
								<h5 class="title" *ngIf="libro.my_book || libro.my_book == true" (click)="goToBook(libro._id)">{{ libro?.name }}</h5>
								<div class="alignAuthor">
									<p *ngIf="!libro.my_book || libro.my_book == false" (click)="goToBuyBook(libro._id)">{{ libro?.author }}</p>
									<p *ngIf="libro.my_book || libro.my_book == true" (click)="goToBook(libro._id)">{{ libro?.author }}</p>
									<ion-button slot="end" mode="md" (click)="socialSharing(libro?._id, libro?.name, libro?.cover)"><img src="assets/img/share.png" alt=""></ion-button>
									<!-- <ion-button slot="end" mode="md"><img src="assets/img/share.png" alt=""></ion-button> -->
								</div>
							</ion-card-content>
						</ion-card>
					</ion-slide>
				</ion-slides>
			</div>
		</div>
	</div>
</ion-content>
