<app-navbar></app-navbar>
<ion-content>
	<div class="body">
		<ion-button class="btnBack" mode="md" (click)="back()"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
		<ion-grid>
			<ion-row>
				<ion-col size="5">
					<div class="boxPortada">
						<img *ngIf="!libro?.cover" src="assets/img/portada.png" alt="">
						<img *ngIf="libro?.cover" [src]="libro?.cover" alt="">
					</div>
				</ion-col>
				<ion-col size="7">
					<div class="boxDescription">
						<p>{{ libro?.author }}</p>
						<p>{{ libro?.name }}</p>
						<p class="price">Total price: <span>{{ libro?.price }}€</span></p>
						<div class="buttons">
							<div class="button" (click)="status(1)" [ngClass]="{'active': statusBuy==false, ' ':statusBuy==true }">
								<span>Comprar e instalar</span>
							</div>
							<div class="button" (click)="status(2)" [ngClass]="{'active': statusBuy==true, ' ':statusBuy==false }">
								<span>Comprar y enviar</span>
							</div>
						</div>
					</div>
				</ion-col>
				<ion-col size="12" *ngIf="statusBuy">
					<div class="formDescription">
						<ion-list>
							<ion-item lines="none">
								<ion-label>Qty:</ion-label>
								<div slot="end" class="BtnQty">
								<ion-input type="number" readonly [value]="count"></ion-input>
								</div>
							</ion-item>
							<ion-item lines="none">
								<ion-label>Gift wrap:</ion-label>
								<ion-checkbox mode="md"></ion-checkbox>
							</ion-item>
							<div class="boxGift">
								<ion-radio-group [(ngModel)]="val">
									<ion-row>
										<ion-col size="2" (click)="val = 1">
											<div class="box">
												<ion-radio id="radioRegalo1" name="radioRegalos" value="1" checked></ion-radio>
												<ion-label for="radioRegalo1">
													<img [ngClass]="{ 'gray': val == 2 || val == 3 || val == 4 || val == 5 || val == 6, 'img-fluid': val }" src="assets/img/regalo1.png" alt="">
												</ion-label>
											</div>
										</ion-col>
										<ion-col size="2" (click)="val = 2">
											<div class="box">
												<ion-radio id="radioRegalo2" name="radioRegalos" value="2"></ion-radio>
												<ion-label for="radioRegalo2">
													<img [ngClass]="{ 'gray': val == 1 || val == 3 || val == 4 || val == 5 || val == 6, 'img-fluid': val }" src="assets/img/regalo2.png" alt="">
												</ion-label>
											</div>
										</ion-col>
										<ion-col size="2" (click)="val = 3">
											<div class="box">
												<ion-radio id="radioRegalo3" name="radioRegalos" value="3" ></ion-radio>
												<ion-label for="radioRegalo3">
													<img [ngClass]="{ 'gray': val == 1 || val == 2 || val == 4 || val == 5 || val == 6, 'img-fluid': val }" src="assets/img/regalo3.png" alt="">
												</ion-label>
											</div>
										</ion-col>
										<ion-col size="2" (click)="val = 4">
											<div class="box">
												<ion-radio id="radioRegalo4" name="radioRegalos" value="4"></ion-radio>
												<ion-label for="radioRegalo4">
													<img [ngClass]="{ 'gray': val == 1 || val == 2 || val == 3 || val == 5 || val == 6, 'img-fluid': val }" src="assets/img/regalo4.png" alt="">
												</ion-label>
											</div>
										</ion-col>
										<ion-col size="2" (click)="val = 5">
											<div class="box">
												<ion-radio id="radioRegalo5" name="radioRegalos" value="5"></ion-radio>
												<ion-label for="radioRegalo5">
													<img [ngClass]="{ 'gray': val == 1 || val == 2 || val == 3 || val == 4 || val == 6, 'img-fluid': val }" src="assets/img/regalo5.png" alt="">
												</ion-label>
											</div>
										</ion-col>
										<ion-col size="2" (click)="val = 6">
											<div class="box">
												<ion-radio id="radioRegal6" name="radioRegalos" value="6"></ion-radio>
												<ion-label for="radioRegal6">
													<img [ngClass]="{ 'gray': val == 1 || val == 2 || val == 3 || val == 4 || val == 5, 'img-fluid': val }" src="assets/img/regalo6.png" alt="">
												</ion-label>
											</div>
										</ion-col>
									</ion-row>
								</ion-radio-group>
							</div>
							<ion-item class="mb-15" lines="none">
								<ion-label position="stacked">Enter email or email list <!-- <br>(separated by ,) --></ion-label>
								<ion-input class="input pr" type="text" [(ngModel)]="emails2" [value]="emails2"></ion-input>
								<ion-button class="btnSend-input" name="send" slot="end" (click)="changeCount()"><ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
								<div class="spaceddiv" *ngFor="let e of emails3; let i = index">
									<span class="spaced">{{ e }}</span> <p (click)="deleteEmail(e)">x</p>
									<br>
								</div>
							</ion-item>
							<ion-grid class="p-0">
								<ion-row class="p-0">
								<ion-col size="12" class="p-0">
									<ion-item class="mb-15" no-padding lines="none">
										<ion-label position="stacked">From:</ion-label>
										<ion-input class="input" type="text" [(ngModel)]='from'></ion-input>
									</ion-item>
								</ion-col>
								</ion-row>
							</ion-grid>
							<ion-item class="mb-15" lines="none">
								<ion-label position="stacked">Write an email message</ion-label>
								<ion-input class="input" type="text" [(ngModel)]='message'></ion-input>
							</ion-item>
						</ion-list>
					</div>
				</ion-col>
				<ion-col size="12">
					<ion-button class="btnSend" mode="md" (click)="buy(libro._id)"><span>{{ label }}</span><ion-icon name="caret-forward-outline"></ion-icon></ion-button>
				</ion-col>
				<ion-col size="12" *ngIf="libroslength > 0">
					<h5 class="textInteresing">También te puede interesar</h5>
					<ion-slides [options]="slideOpts" #mySlider>
						<ion-slide *ngFor="let l of libros">
							<ion-card class="cardEdit" (click)="goToBuyBook(l._id)"> 
								<ion-card-header class="p-0" (click)="goToBuyBook(l._id)">
									<img *ngIf="l.cover" src="{{ l?.cover }}" alt="{{ l?.name }}" onError="this.src = 'assets/img/portada.png'">
									<img *ngIf="!l.cover" src="assets/img/portada.png" alt="{{ l?.name }}">
								</ion-card-header>
								<ion-card-content>
									<h5 class="title" (click)="goToBuyBook(l._id)">{{ l?.name }}</h5>
									<div class="alignAuthor">
										<p (click)="goToBuyBook(l._id)">{{ libro?.author }}</p>
										<ion-button slot="end" mode="md" (click)="socialSharing(l?._id, l?.name, l?.cover)"><img src="assets/img/share.png" alt=""></ion-button>
									</div>
								</ion-card-content>
							</ion-card>
						</ion-slide>
						<!-- <ion-slide>
							<ion-card class="cardEdit" routerLink="/buy-book"> 
								<ion-card-header class="p-0">
									<img src="assets/img/example.png" alt="">
								</ion-card-header>
								<ion-card-content>
									<h5 class="title">Guia de la pasta</h5>
									<div class="alignAuthor">
										<p>Luigi Scociola</p>
										<ion-button slot="end" mode="md"><img src="assets/img/share.png" alt=""></ion-button>
									</div>
								</ion-card-content>
							</ion-card>
						</ion-slide>
						<ion-slide>
							<ion-card class="cardEdit" routerLink="/buy-book"> 
								<ion-card-header class="p-0">
									<img src="assets/img/example.png" alt="">
								</ion-card-header>
								<ion-card-content>
									<h5 class="title">Guia de la pasta</h5>
									<div class="alignAuthor">
										<p>Luigi Scociola</p>
										<ion-button slot="end" mode="md"><img src="assets/img/share.png" alt=""></ion-button>
									</div>
								</ion-card-content>
							</ion-card>
						</ion-slide> -->
					</ion-slides>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>
