<app-navbar></app-navbar>

<ion-content [fullscreen]="true">
	<div class="bodyShare">
		<div class="borderSection">    
			<div class="nav">
				<ion-grid class="p-0">
					<ion-row class="p-0">
						<ion-col class="p-0" align="center">
							<h5 class="title">Compartir</h5>
						</ion-col>  
					</ion-row>
				</ion-grid>
			</div>
			<div class="contain">
				<ion-row class="p-0">
					<ion-col size="6" class="p-0">Email</ion-col>
					<ion-col size="6" class="p-0">Whatsapp</ion-col>
				</ion-row>
				<ion-row class="p-0">
					<ion-col size="6" class="p-0">Facebook</ion-col>
					<ion-col size="6" class="p-0">Instagram</ion-col>
				</ion-row>
				<ion-row class="p-0">
					<ion-col size="6" class="p-0">Twitter</ion-col>

				</ion-row>
			</div>
		</div>
	</div>
</ion-content>
